#####################################################################
#   Extruder
#####################################################################
[extruder]
step_pin: EBB36:EXT_STEP 
dir_pin: EBB36:EXT_DIR 
enable_pin: !EBB36:EXT_EN  
rotation_distance: 5.65138       
microsteps: 16
full_steps_per_rotation: 200   
nozzle_diameter: 0.4
filament_diameter: 1.75
max_extrude_only_distance: 101
heater_pin: EBB36:HE0
sensor_type: ATC Semitec 104GT-2  
sensor_pin: EBB36:TH0
min_temp: -273
max_temp: 300
min_extrude_temp: 0
max_extrude_cross_section: 5
pressure_advance: 0.07
#control: pid

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
max_power: 1
min_temp: 0
max_temp: 100
#control: pid