# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.
[include mainsail.cfg]
[include timelapse.cfg]
[include configs/*cfg]
[include macros/*.cfg]
[exclude_object]
[firmware_retraction]

[virtual_sdcard]
path: /home/klipper/printer_data/gcodes

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_440057000151303530353135-if00
restart_method: command

[mcu EBB36]
canbus_uuid: 211701353ae2

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4500             
max_z_velocity: 15          
max_z_accel: 350
square_corner_velocity: 5.0

[gcode_arcs]
resolution: 1.0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[board_pins EBB36_G0B1_v1.2] 
mcu: EBB36
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_kp = 21.455
#*# pid_ki = 0.390
#*# pid_kd = 294.744
#*# pid_version = 1
#*# pid_target = 70.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*#
#*# [extruder]
#*# pid_kp = 34.777
#*# pid_ki = 4.190
#*# pid_kd = 72.163
#*# pid_version = 1
#*# pid_target = 260.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*#
#*# [probe]
#*# z_offset = -0.480
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 56.0
#*# shaper_type_y = zv
#*# shaper_freq_y = 39.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.053750, -0.021250, 0.032500, 0.082500, 0.068750
#*# 	0.003750, -0.005000, 0.032500, 0.091250, 0.121250
#*# 	-0.087500, -0.072500, -0.027500, 0.087500, 0.100000
#*# 	-0.065000, -0.026250, 0.048750, 0.113750, 0.180000
#*# 	-0.056250, -0.011250, 0.060000, 0.161250, 0.218750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 310.0
#*# min_y = 20.0
#*# max_y = 310.0
