##############################
# END PRINT MACRO
##############################

[gcode_macro END_PRINT]
gcode:
    # Read current and max Z from Klipper
    {% set cur_z = printer.toolhead.position.z %}
    {% set max_z = printer.toolhead.axis_maximum.z %}

    # Lift Z by 2 mm but never exceed max Z
    {% set lift1 = cur_z + 2 if (cur_z + 2) < max_z else max_z %}
    G1 Z{lift1} F600

    # Move toolhead to presentation position
    G1 X125 Y{printer.toolhead.axis_maximum.y * 0.8} F6000

    # Lift further by +70 mm but stay within limits
    {% set lift2 = cur_z + 70 if (cur_z + 70) < max_z else (max_z - 25) %}
    G1 Z{lift2} F600

    # Lift to 60% of Z-height if print was very short
    {% set lift3 = max_z * 0.6 %}
    {% if cur_z < lift3 %}
        G1 Z{lift3} F600
    {% endif %}
    
    # Turn off heaters and fans
    M104 S0
    M140 S0
    M107

    # Disable motors
    M84 X Y E