##############################
# START PRINT MACRO
# (FULLY MERGED WITH SLICER G-CODE)   IF USING AUTO Z CAL, COMMENT OUT THIS MACRO
##############################

[gcode_macro START_PRINT]
gcode:

    # --- INPUTS ---
    {% set BED = params.BED_TEMP|default(75)|float %}
    {% set EXTRUDER = params.EXTRUDER_TEMP|default(250)|float %}

    # --- BASIC SETUP ---
    G90
    M83

    # --- TEMP PRE-WARM ---
    M140 S{BED}         ; start bed heating
    M104 S150           ; temporary nozzle temp

    # --- HOME ---
    G28
    G1 Z10

    # --- WAIT FOR BED ---
    M190 S{BED}

    # --- Z TILT ---
    Z_TILT_ADJUST

    # --- HOME Z AGAIN---
    G28 Z
    G1 Z10
    
    # --- BED MESH ---
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1

    # --- FINAL NOZZLE HEAT ---
    M104 S{EXTRUDER}
    M109 S{EXTRUDER}

    ## --- PURGE LINE ---
    SQUIGGLY_PURGE ADAPTIVE_MODE=1 LINE_MARGIN=15

    # --- READY ---
    M118 Printing started.
